@model ChrisMVC.EF.Estoques

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Estoques</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalArmazenado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalArmazenado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaidaProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaidaProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntradaProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntradaProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntradaData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntradaData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RetiradaData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RetiradaData)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
